.layout{ /*Applys a layout to the site*/
  display: grid; /*Applys a grid*/
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 960px; /*Sets a max width to the screen*/
}
header nav ul {
    display: flex; /*Applys flexbox to the nav so it sits horizontally*/
    flex-wrap: wrap; /*Wrapping makes the nav sit perfectly on a smaller device*/
  }