body {
    background-color: #F0FFF0; /*sets background of the body to a light blue*/
    margin: 0; /*Prevents default margins*/
    padding: 0; /*Prevents default paddings*/
}
.logo {
  margin-left: 350px; /*Positions the logo*/
}

img {
  border-radius: 20px; /*Rounds the corners of the logo*/
}

h1{
  font-family: Helvetica, Arial, sans-serif;/*Setting text on the page to arial.*/
  font-size: 24px; /*Font set to 12px as the style guide states*/
  margin-top: 12px; /*Adds space to prevent text from being too close*/
  margin-bottom: 0; /*Set the margin to 0 to prevent any default margins*/
}
p{
  font-family: Helvetica, Arial, sans-serif;/*Setting text on the page to arial.*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  margin-top: 12px; /*Adds space to prevent text from being too close*/
  margin-bottom: 0; /*Set the margin to 0 to prevent any default margins*/
  padding: 10px; /*Adds padding*/
}
header nav ul{
    list-style-type: none; /*Removes bullet points from list*/
    padding: 0;/*Sets default to 0*/
    margin: 0;
    margin-left: 225px; /*Postitions the navigation bar*/
  }
  nav {
    border-top: 1px solid #999;/*Creates break lines on the web page*/
    margin: 0;/*Sets default to 0*/
  }
  nav ul li {
    padding-top: 1.25em; /*gives the li padding*/
    padding-bottom: 1.25em; /*gives the li padding*/
    margin: 0;/*Sets default to 0*/
    width: 16%; /*Width of the buttons is 16% so that each element of the nav equally shares the page*/
  }
  nav a {
    text-decoration: none; /*Takes away the lines from underneath the a tag*/
    display: inline-block; /*This allows the width and height to be set*/
    font-family: Helvetica, Arial, sans-serif; /*Sets font*/
    font-size: 14px; /*Font set to 14px as the style guide states*/
    color: #747474; /*Sets the font colour to grey*/
    text-align: center; /*Sets text to center*/
    width: 100%; /*Each buttons width in the viewport*/
    border-right: 0.0625em solid #999; /*creates the lines on the right side of the nav inbetween each element*/
    padding-top: 0.55em;
    padding-bottom: 0.55em;
  }
  nav li:hover {
    background-color: #6495ED; /*sets the background of the nav elements to red when hovered over*/
  }
  nav li a:hover {
    color: #ffffff; /*the text when hovered over also changes to white*/
  }
  nav ul li:last-child a { /*Removes the seperating line from the last element of the nav*/
    border-right: none;
  }

section {
    border-top: 0.025em solid #999; /*This creates the section break lines on the web page*/
    padding-top: 1.875em; /*The padding is applied to position this correctly*/
    padding-bottom: 1.875em;
  }

button {
  background-color: #6495ED; /*Sets the links to red*/
  font-family: Helvetica, Arial, sans-serif; /*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  font-weight: bold; /*Sets text bold*/
  padding: 20px; /*Adds padding*/
  width: -webkit-fill-available; /*Flexes the button accross the screen*/
  margin: 30px;
}

.degreebutton {
  background-color: #6495ED; /*Sets the links to red*/
  color: #000000; /*Sets font colour to black*/
  font-family: Helvetica, Arial, sans-serif;/*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  font-weight: bold; /*Sets text bold*/
  padding: 20px; /*Adds padding*/
}

form{
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;/*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  padding: 15px; /*Adds padding*/
  border-radius: 20px; /*Rounds the corners of the button*/
  margin: 20px;
}

form input{
  margin: 20px;
}

a.create{
  background-color: #6495ED; /*Sets the links to blue*/
  color: #000000;
  font-family: Helvetica, Arial, sans-serif; /*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  font-weight: bold; /*Sets text bold*/
  padding: 15px; /*Adds padding*/
  border-radius: 20px; /*Rounds the corners of the button*/
  margin:10px;

}

a.submit{
  background-color: #6495ED; /*Sets the links to blue*/
  color: #000000;
  font-family: Helvetica, Arial, sans-serif; /*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  font-weight: bold; /*Sets text bold*/
  padding: 15px; /*Adds padding*/
  border-radius: 20px; /*Rounds the corners of the button*/
  margin-left:700px;
  text-align: right;

}

#module-info div{
  border-top: 1px solid #999;/*Creates break lines on the web page*/
  font-family: Helvetica, Arial, sans-serif; /*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  font-weight: bold; /*Sets text bold*/
  padding: 20px;/*Adds padding*/
  text-align: center;
}

#degreeData div{
  border-top: 1px solid #999;/*Creates break lines on the web page*/
  font-family: Helvetica, Arial, sans-serif; /*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  font-weight: bold; /*Sets text bold*/
  padding: 20px; /*Adds padding*/
  text-align: center;
}

#moduleData div{
  border-top: 1px solid #999;/*Creates break lines on the web page*/
  font-family: Helvetica, Arial, sans-serif; /*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  font-weight: bold; /*Sets text bold*/
  padding: 20px; /*Adds padding*/
  text-align: center;
}

#assessmentData div{
  border-top: 1px solid #999;/*Creates break lines on the web page*/
  font-family: Helvetica, Arial, sans-serif; /*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  font-weight: bold;/*Sets text bold*/
  padding: 20px; /*Adds padding*/
  text-align: center;
}

a.show{
  background-color: #6495ED; /*Sets the links to blue*/
  color: #000000; /*Sets font colour*/
  font-family: Helvetica, Arial, sans-serif; /*Sets font*/
  font-size: 12px; /*Font set to 12px as the style guide states*/
  font-weight: bold; /*Sets text bold*/
  padding: 15px; /*Adds padding*/
  border-radius: 20px; /*Rounds the corners of the button*/
  margin: 10px;
}
